.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
include/gcp/service_account.json
include/soda/configuration.yml
include/dataset/online_retail.csv
configuration.yml
